* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8rem;
}

header h1 {
    font-size: 24px;
    font-weight: 600;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding-left: 20px;
}

header nav ul li a {
    font-size: 18px;
    color: #F9FAF8;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #3882F6;
    text-decoration: underline;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 8rem;
}

.hero h2 {
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}

.hero p {
    font-size: 14px;
    color: #E5E7EB;
    margin-top: 5px;
}

.hero .btn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: 550;
    padding: 0 25px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
}

.hero-text {
    padding-right: 5rem;
}

.features-heading {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    text-align: center;
    display: block;
    z-index: 10;
    background-color: #F9FAF8;
    width: 100%;
}

#features {
    background-color: #F9FAF8;
    padding: 8rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    margin-bottom: -2rem;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: #1F2937;
}

.feature img {
    border-radius: 10%;
    border: solid 4px #3882F6;
}

.feature h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

#quote {
    background-color: #E5E7EB;
    padding: 8rem 8rem;
}

#quote h4 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

#quote p {
    font-size: 20px;
    color: #1F2937;
    margin-top: 5px;
    font-weight: 700;
    text-align: right;
    padding-right: 1.5rem;
}

#action {
    background-color: #3882F6;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    width: 80%;
    margin: 5rem auto;
    border-radius: 10px;
}

.action-text {
    padding-right: 2rem;
}

#action .btn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: 550;
    padding: 0 25px;
    height: 30px;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 1.5rem 10rem;
}